.section-contact {
  padding-top: 30px;
  .feedback-title {
    height: 180px;
    max-width: 900px;
    margin: 0 auto;
    background-image: url(~/assets/contact.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    h4 {
      box-shadow: $shadow;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $main-blue-98;
      color: $white;
      display: block;
      text-align: center;
      font-weight: $fw-regular;
      padding: 30px 0;
      font-size: 28px;
      max-width: 570px;
      width: calc(100% - 40px);
      margin: 0 auto;
    }
  }

  form {
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    
    input:first-of-type {
      text-transform: capitalize;
    }
    input, textarea, button {
      outline: none;
      border-radius: 0;
      -webkit-appearance: none;
      font-family: "Roboto Mono", monospace;
      font-size: 14px;
      border: 1px solid rgba(black, .10);
      background-color: $white;
    }
    input, textarea {
      &::placeholder {
        color: rgba(black, .60);
      }
      margin-bottom: 10px;
      padding: 8px;
      color: rgba(black, .60);
    }
    textarea {
      resize: none;
      max-width: 900px;
      min-height: 100px;
    }
    button {
      color: rgba(black, .60);
      padding: 8px 0;
    }
  }
}
